<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/711c8550fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilos.css">

    <title>Mercado Liebre</title>
</head>
<body>
    <header class="header">
        <section>
            <div class="top">
                <div class="logo">
                    <img src="/img/logo-mercado-liebre.svg" alt="logo de la pag">
                </div>
                
                <div class="buscador">
                    <input type="search" placeholder="Buscar productos, marcas" >
                    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
           <h3><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </section>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="hamburger">
            <button><i class="fa-solid fa-bars"></i></button>
        </div>
    </header>
    <main class="login">
        <h1>Ingresar</h1>
        <form action="/login" method="post">
            <div class="text">
                <input type="text" name="user" id="user" placeholder="Nombre de Usuario" minlength="5" maxlength="15" required>
            </div>
            <div class="text">
                <input type="password" name="pass" id="pass" placeholder="Contraseña" minlength="8" required>
            </div>
                <button type="submit"><a href="/">Enviar</a></button>
        </form>
    </main>
</body>
</html>