.footer{
    background-color: white;   
}
.footer div{
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--cuerposDeTexto);
    max-width: 375px;
}
.footer div i{
    margin-top: 50px;
    font-size: 30px;
    color: var(--celeste);
}
.footer div i:hover{
    color:navy;
    transition: all 0.6s;
}
.footer div h2{
    margin: 10px 0 0;
    color: var(--grisOscuro);
}
.footer div p{
    color: var(--grisOscuro);
    margin: 0;
    padding: 0 66px;
}
#copyright{
    font-size: var(--cuerposDeTexto);
    padding: 15px;
    margin: 0;
}

/* tablet */
@media (min-width:461px){
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
       }
       .footer div{
        margin-top: 20px;
        padding: 5px 5px 5px 8px;
        max-width: 33%;
        border-left: 2px solid var(--grisClaro);
       }
       .footer div:first-child{
        border-left: 0;
       }
       .footer div p{
        padding: 0;
       }
}

/* desktop */
@media (min-width:769px){
    
}