
.home header{
    background-color: var(--amarillo);
    
}

.home header .main-header{
    padding: 25px;
}
.home header .main-header .logo{
  width: 50%;
}
.home header p{
    text-align: 20px;
    margin-top: 20px;
}
.home header nav ul {
    margin-bottom: 15px;
}
.home header nav ul li a{
    color: black;
}
.burguer-menu{
    text-align: center;
    background-color: var(--celeste);
    border-radius: 5px;
     color: white;
    margin: 0 0 5% 45%;
}

.burguer-menu i{
    font-size: 20px;
    height: 40px;
    padding: 10px;
    width: 40px;

}
