
.header{
    background-color: var(--amarillo);
}
.header .top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 36px 30px;
}
.logo{
    max-width: 47%;
}
.logo img{
    width: 100%;
    min-width: 100px;
}
.buscador{
    margin-left: 3%;
    width: 47%;
    position: relative;
}
.buscador input{
    width: 100%;
    font-size: 16px;
    padding: 14px;
    border: none;
    border-radius: 8px;
}
.buscador button{
    color: var(--grisOscuro);
    font-size: 19px;
    position: absolute;
    height: 47px;
    padding: 0 5px;
    right: 0;
    top: 0;
    border: none;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
}
.header h3{
    text-align: center;
    margin-bottom: 20px;
}
.header nav ul{
    margin: 0;
    padding: 0 0 20px;
    /* ocultar el nav ul */
    display: none;
}
.header nav ul li a{
    text-decoration: none;
    color: black;
}
.hamburger{
    margin-top: 20px;
    text-align: center;

}
.hamburger button{
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: var(--celeste);
}

/* tablet */
@media (min-width: 461px){
    .header section .contenedor .logo img{
        max-width: 400px;
    }
}
/* intermedio */
@media (min-width: 585px){
    .header nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 30px;
    }
    .header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header nav ul li:last-child{
        margin-right: 0;
    }
    .header nav ul li{
        margin-right: 15px;
    }
    .header nav ul li a{
        font-size: 12px;
    }
    .hamburger{
        display: none;
    }
}

/* desktop */
@media (min-width: 769px){
    .header section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 30px 30px 20px 30px;
    }
    .header section .top{
        padding: 0;
        width: 60%;
        justify-content: flex-start;
    }
    .header section .top .logo{
        max-width: 54%;
    }
    .header section .buscador{
        max-width: 43%;
        padding: 0;
    }
    .buscador input{
        width: 80%;
        font-size: 16px;
        padding: 2px ;
        border: 1px solid var(--grisOscuro);
        border-radius: 0;
    }
    .buscador button{
        color: var(--grisOscuro);
        font-size: 16px;
        position:initial;
        height: 27px;
        width: 27px;
        padding: 2px;
        right:auto;
        top:auto;
        border: 1px solid var(--grisOscuro);
        border-radius: 4px;
        background-color: var(--grisClaro);
    }
    .header section h3{
        margin: 0;
        font-size: 14px;
    }
    .header nav ul li a{
        font-size: 16px;
    }

}